node_modules
**/node_modules

dist
**/dist

coverage
**/coverage

packages/prisma/generated

.git
.github
.env
.env*.local

*.log
npm-debug.log*

README.md
docker-compose.yml
Dockerfile
.dockerignore
infra
